# 12.HİPOTEZ TESTLERİ

Kullanacağımız kütüphaneleri çağırdık.

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ks_2samp
from scipy.stats import mannwhitneyu
from scipy.stats import ttest_ind
from statsmodels.stats.power import TTestIndPower

Veri setimizi yükledik ve data ismiyle atadık.

In [2]:
data = pd.read_csv("istyazilim_odevi/gym_members_exercise_tracking.csv")

Veri setinin ilk ve son beş verisini head() ve tail() fonksiyonlarıyla doğruladık.

In [3]:
data.head()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
0,56,Male,88.3,1.71,180,157,60,1.69,1313.0,Yoga,12.6,3.5,4,3,30.20
1,46,Female,74.9,1.53,179,151,66,1.30,883.0,HIIT,33.9,2.1,4,2,32.00
2,32,Female,68.1,1.66,167,122,54,1.11,677.0,Cardio,33.4,2.3,4,2,24.71
3,25,Male,53.2,1.70,190,164,56,0.59,532.0,Strength,28.8,2.1,3,1,18.41
4,38,Male,46.1,1.79,188,158,68,0.64,556.0,Strength,29.2,2.8,3,1,14.39

In [4]:
data.tail()

,Age,Gender,Weight (kg),Height (m),Max_BPM,Avg_BPM,Resting_BPM,Session_Duration (hours),Calories_Burned,Workout_Type,Fat_Percentage,Water_Intake (liters),Workout_Frequency (days/week),Experience_Level,BMI
968,24,Male,87.1,1.74,187,158,67,1.57,1364.0,Strength,10.0,3.5,4,3,28.77
969,25,Male,66.6,1.61,184,166,56,1.38,1260.0,Strength,25.0,3.0,2,1,25.69
970,59,Female,60.4,1.76,194,120,53,1.72,929.0,Cardio,18.8,2.7,5,3,19.50
971,32,Male,126.4,1.83,198,146,62,1.10,883.0,HIIT,28.2,2.1,3,2,37.74
972,46,Male,88.7,1.63,166,146,66,0.75,542.0,Strength,28.8,3.5,2,1,33.38

Veri setinde toplam 15 değişken mevcut. Bu değişkenlerden 7 tanesi float (sürekli), 6 tanesi integer (kesikli) ve 2 tanesi object (kategorik) olduğu görülüyor. Değişkenlerin yanındaki non-null ifadesi veri setinde eksik değer olmadığını gösteriyor.

In [5]:
veri_yapisi = data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            973 non-null    int64
 1   Gender                         973 non-null    object
 2   Weight (kg)                    973 non-null    float64
 3   Height (m)                     973 non-null    float64
 4   Max_BPM                        973 non-null    int64
 5   Avg_BPM                        973 non-null    int64
 6   Resting_BPM                    973 non-null    int64
 7   Session_Duration (hours)       973 non-null    float64
 8   Calories_Burned                973 non-null    float64
 9   Workout_Type                   973 non-null    object
 10  Fat_Percentage                 973 non-null    float64
 11  Water_Intake (liters)          973 non-null    float64
 12  Workout_Frequency (days/week)  973 non-null    int64
 13  Experience_Level               973 non-null    int64
 14  BMI                            973 non-null    float64
dtypes: float64(7), int64(6), object(2)
memory usage: 114.2+ KB

describe() fonksiyonu ile sürekli ve kesikli değişkenlerin betimsel istatistikleri hakkında bilgi sahibi olduk.

In [8]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,973.0,38.683453,12.180928,18.00,28.00,40.00,49.00,59.00
Weight (kg),973.0,73.854676,21.207500,40.00,58.10,70.00,86.00,129.90
Height (m),973.0,1.722580,0.127720,1.50,1.62,1.71,1.80,2.00
Max_BPM,973.0,179.883864,11.525686,160.00,170.00,180.00,190.00,199.00
Avg_BPM,973.0,143.766701,14.345101,120.00,131.00,143.00,156.00,169.00
Resting_BPM,973.0,62.223022,7.327060,50.00,56.00,62.00,68.00,74.00
Session_Duration (hours),973.0,1.256423,0.343033,0.50,1.04,1.26,1.46,2.00
Calories_Burned,973.0,905.422405,272.641516,303.00,720.00,893.00,1076.00,1783.00
Fat_Percentage,973.0,24.976773,6.259419,10.00,21.30,26.20,29.30,35.00
Water_Intake (liters),973.0,2.626619,0.600172,1.50,2.20,2.60,3.10,3.70
Workout_Frequency (days/week),973.0,3.321686,0.913047,2.00,3.00,3.00,4.00,5.00
Experience_Level,973.0,1.809866,0.739693,1.00,1.00,2.00,2.00,3.00
BMI,973.0,24.912127,6.660879,12.32,20.11,24.16,28.56,49.84

Araştırmada;                                                                              
* Cinsiyete göre yakılan kalori ortalamaları arasında fark olmadığı,                                
* 73'ten az kiloya sahip üyelerin ortalama oturum süreleri ile 73'ten fazla kiloya sahip üyelerin oturum süreleri arasında fark olmadığı,
* 30 yaşından küçük üyelerin ortalama antrenman sıklığının, 30 yaşından büyük üyelerin ortalama antrenman sıklığından fazla olduğu                                durumları test edilecektir.

Hipotez testleri için genel varsayımlar:
* Örneğe alınan birimler birbirinden bağımsız olmalı
* Anakütle normal dağılıma sahip olmalı

## 1.HİPOTEZ                                                
H0: Erkek ve kadın üyelerin yaktıkları ortalama kalori miktarları arasında fark yoktur.                                                  
H1: Erkek ve kadın üyelerin yaktıkları ortalama kalori miktarları arasında fark vardır.

Erkek ve kadın üyeler birbirinden bağımsızdır. Bundan dolayı değişkenlerimizin normalliğini inceleyeceğiz.

_Erkek üyeleri 0, kadın üyeleri 1 olarak tanımladık._

In [6]:
data["Gender"] = data["Gender"].map({"Male": 0, "Female": 1})

In [7]:
print(data["Gender"].unique())

[0 1]

_Erkek ve kadınların yaktıkları kalori miktarlarını gruplara ayırdık._

In [8]:
male_calories = data[data["Gender"] == 0]["Calories_Burned"]
female_calories = data[data["Gender"] == 1]["Calories_Burned"]

_Örneklemlerimizin büyüklükleri 50'den büyük olduğundan kolmogorov-smirnov testini kullanırız._

In [9]:
ks_statistic, p_value = ks_2samp(male_calories, female_calories)

print("Kolmogorov-Smirnov test istatistiği: ", ks_statistic)
print("p-değeri: ", p_value)

Kolmogorov-Smirnov test istatistiği:  0.14617802289035164
p-değeri:  5.3686636227162995e-05

* 1.tip hata yani alfa değerini 0.05 olarak kendimiz tanımladık.

Kurduğumuz if döngüsü ile _male_calories_ ve _female_calories_ ifadelerinin dağılımını test ettik.

In [10]:
alpha = 0.05
if p_value < alpha:
    print("İki örneklem aynı dağılıma sahip değildir.")
else:
    print("İki örneklem aynı dağılıma sahiptir.")

İki örneklem aynı dağılıma sahip değildir.

Yaptığımız analiz sonucunda verilerin normal dağılmadığı sonucuna ulaştık. Bundan dolayı t testi yerine Non-Parametrik test olan Mann Whitney testini kullanacağız.

In [11]:
stat, p = mannwhitneyu(male_calories, female_calories)
print("Mann-Whitney U testi p-değeri:" ,p)

Mann-Whitney U testi p-değeri: 1.1387859626833666e-05

Aşağıda kurduğumuz döngü sonucunda H0 hipotezi hakkında yorum yapabiliyoruz.

In [12]:
if p < alpha:
    print("H0 hipotezi reddedilir. Cinsiyete göre yakılan kalori miktarları arasında fark vardır.")
else:
    print("H0 hipotezi kabul edilir. Cinsiyete göre yakılan kalori miktarları arasında fark yoktur.")

H0 hipotezi reddedilir. Cinsiyete göre yakılan kalori miktarları arasında fark vardır.

H0 hipotezini reddettik. Erkek üyelerin ortalama yaktıkları kalori miktarı, kadın üyelerin ortalama yaktığı kalori miktarından fazladır.

* 2.tip hata

Erkek ve kadın üyelerin ortalama yakılan kalori miktarlarını hesaplıyoruz.

In [13]:
mean_male = male_calories.mean()
print("Erkeklerin yaktığı ortalama kalori miktarı: ", mean_male)

mean_female = female_calories.mean()
print("Kadınların yaktığı ortalama kalori miktarı: ", mean_female)

Erkeklerin yaktığı ortalama kalori miktarı:  944.4559686888454
Kadınların yaktığı ortalama kalori miktarı:  862.2489177489177

Erkek ve kadın üyelerin ortalama yakılan kalori miktarlarının standart sapmalarını hesaplıyoruz.

In [14]:
std_male = np.std(male_calories, ddof = 1)
std_female = np.std(female_calories, ddof = 1)

print("Erkek üyelerin yaktıkları ortalama kalori miktarının standart sapması: ", std_male)
print("Kadın üyelerin yaktıkları ortalama kalori miktarının standart sapması: ", std_female)

Erkek üyelerin yaktıkları ortalama kalori miktarının standart sapması:  286.59098667906056
Kadın üyelerin yaktıkları ortalama kalori miktarının standart sapması:  249.6149154564867

Etki büyüklüğü

In [15]:
effect_size1 = (mean_male - mean_female) / np.sqrt((std_male**2 + std_female**2)/2)
print("Etki büyüklüğü: ", effect_size1)

Etki büyüklüğü:  0.3058984810793362

In [17]:
power_analysis = TTestIndPower()

In [18]:
power = power_analysis.solve_power(effect_size1, power = None, nobs1 = len(male_calories), ratio = 1.0, alpha = alpha)
beta = 1 - power

print("Testin gücü: ", power)
print("2.tip hata: ", beta)

Testin gücü:  0.9982778243508986
2.tip hata:  0.0017221756491013762

## 2.HİPOTEZ

H0: 73'ten az kiloya sahip üyelerin ortalama oturum süreleri ile 73'ten fazla kiloya sahip üyelerin oturum süreleri arasında fark yoktur.            
H1: 73'ten az kiloya sahip üyelerin ortalama oturum süreleri ile 73'ten fazla kiloya sahip üyelerin oturum süreleri arasında fark vardır.

_Üyeleri 73 kilodan az ve fazla olacak şekilde iki gruba ayırdık._

In [19]:
group1 = data[data["Weight (kg)"] < 73]["Session_Duration (hours)"]
group2 = data[data["Weight (kg)"] >= 73]["Session_Duration (hours)"]

p ve t-testindeki değerleri bulduk.

In [20]:
t_stat, p_value2 = ttest_ind(group1, group2)

print("t-test istatistiği: ",t_stat)
print("p-değeri: ",p_value2)

t-test istatistiği:  -2.2810119499733217
p-değeri:  0.02276360451356769

Hipotezimizi %5 anlamlılık düzeyinde test ettik.

In [21]:
if p_value2 < alpha:
    print("H0 hipotezi reddedilir. 73'ten az ve fazla kiloya sahip üyelerin ortalama oturum süreleri arasında fark vardır.")
else:
    print("H0 hipotezi kabul edilir. 73'ten az ve fazla kiloya sahip üyelerin ortalama oturum sürekleri arasında fark yoktur.")

H0 hipotezi reddedilir. 73'ten az ve fazla kiloya sahip üyelerin ortalama oturum süreleri arasında fark vardır.

H0 hipotezini reddettik. 73'ten fazla kiloya sahip üyelerin ortalama oturum süresi 73'ten az kiloya sahip üyelerin ortalama oturum süresinden  fazladır.

* 2.tip hata

Grup1 ve grup2'nin ortalamalarını aldık.

In [23]:
mean_weight1 = group1.mean()
print("73'ten az kiloya sahip üyelerin ortalama oturum süresi: ", mean_weight1)

mean_weight2 = group2.mean()
print("73'ten fazla kiloya sahip üyelerin ortalama oturum süresi: ", mean_weight2)

73'ten az kiloya sahip üyelerin ortalama oturum süresi:  1.234426229508197
73'ten fazla kiloya sahip üyelerin ortalama oturum süresi:  1.2849056603773583

Grup1 ve grup2'nin standart sapmalarını hesapladık.

In [24]:
std_group1 = np.std(group1, ddof = 1)
std_group2 = np.std(group2, ddof = 1)

print("Grup1'in standart sapması: ", std_group1)
print("Grup2'nin standart sapması: ", std_group2)

Grup1'in standart sapması:  0.338474853949319
Grup2'nin standart sapması:  0.34717977652157045

Etki büyüklüğünü hesaplayalım.

In [25]:
effect_size2 = (mean_weight1 - mean_weight2) / np.sqrt((std_group1**2 + std_group2**2) / 2)
print("Etki büyüklüğü: ", effect_size2)

Etki büyüklüğü:  -0.1472326180175729

## 3.HİPOTEZ

H0: 30 yaşından küçük üyelerin ortalama antrenman sıklığı ile 30 yaşından büyük üyelerin ortalama antrenman sıklığı arasında fark yoktur.               
H1: 30 yaşından küçük üyelerin ortalama antrenman sıklığı, 30 yaşından büyük üyelerin ortalama antrenman sıklığından büyüktür.

_Üyeleri 30 yaşından büyük ve küçük olacak şekilde iki ayrı gruba ayırdık._

In [71]:
kucuk_yas = data[data["Age"] < 30]["Workout_Frequency (days/week)"]
buyuk_yas = data[data["Age"] >= 30]["Workout_Frequency (days/week)"]

_Tek yönlü t testini uyguladık._

In [72]:
t_stat2, p_value3 = ttest_ind(kucuk_yas, buyuk_yas)

_Tek yönlü t-testini uyguluyoruz.Tek yönlü olduğu için p-değerini yarıya bölüyoruz._

In [74]:
p_value_one_tailed = p_value3/2

print("t-istatistiği sonucu: ", t_stat2)
print("p-değeri: ", p_value3)

t-istatistiği sonucu:  -0.8399526268813662
p-değeri:  0.40114171156457035

_Hipotez testi sonucu_

In [75]:
if p_value_one_tailed < alpha and t_stat2 > 0:
    print("H0 reddedilir. 30 yaşından küçük üyelerin ortalama antrenman sıklığı daha fazladır.")
else:
    print("H0 kabul edilir. 30 yaşından küçük üyelerin antrenman sıklığı, 30 yaşından büyük üyelerin antrenman sıklığından fazla değildir.")

H0 kabul edilir. 30 yaşından küçük üyelerin antrenman sıklığı, 30 yaşından büyük üyelerin antrenman sıklığından fazla değildir.

In [79]:
kucukyas_ort = kucuk_yas.mean()
print("Küçük yaş ortalaması: ", kucukyas_ort)

buyukyas_ort = buyuk_yas.mean()
print("Büyük yaş ortalaması: ", buyukyas_ort)

Küçük yaş ortalaması:  3.282608695652174
Büyük yaş ortalaması:  3.337159253945481